* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  color: #222;
}

/* ===== Navbar ===== */
header {
  background: #111;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #00bcd4;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00bcd4;
}

.menu-toggle {
  display: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}



/* ===== About Content ===== */
.about-content {
  background: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 10%;
  gap: 50px;
}

.profile-img img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fadeInLeft 1s ease-in-out;
  justify-content: center;
  flex-wrap: wrap;
}

.about-text {
  max-width: 600px;
  animation: fadeInRight 1s ease-in-out;
}

.about-text h2 {
  color: #00bcd4;
  margin-bottom: 15px;
}

/* ===== i am passionate area  ===== */
.about-text p {
  color:white;
  margin-bottom: 15px;
  box-sizing: border-box;
  line-height: 1.6;
  border: #0097a7 2px solid;
  padding: 15px;
  border-radius: 10px;
  border-left: #f9f9f9 5px solid;
}

.about-highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}






/* ===== Hero Section ===== */
.hero {
  background: linear-gradient(to right, #111, #333);
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
}

.hero-content span {
  color: #00bcd4;
}

.hero-content p {
  margin: 15px 0;
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  background: #00bcd4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover {
  background: #0097a7;
  transform: scale(1.05);
}

/* ===== Footer ===== */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #111;
    top: 60px;
    right: 0;
    width: 200px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
